/*

### Primary
Cyan: hsl(179, 62%, 43%)
Bright Yellow: hsl(71, 73%, 54%)

### Neutral
Light Gray: hsl(204, 43%, 93%)
Grayish Blue: hsl(218, 22%, 67%)

*/


.attribution {
  margin: 0;
  width: 90dvw;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(204, 43%, 93%);
  font-family: Karla;
  font-size: 16px;
  margin: 0%;
  position: relative;
  width: 100dvw;
  height: 100dvh;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cuadro {
  width: 40dvw;
  border-radius: .75rem;
  box-shadow: 0dvw 0.5dvh 2dvw 0.1dvw hsla(0, 0%, 0%, 0.202);
}

.presentacion {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
  color: hsl(218, 22%, 67%);
  padding: 0.2dvw 0dvw 1dvw 2dvw;

}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.65dvw;
  margin: 3dvh 0;
}

.parrafo-verde {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 1.2dvw;
  margin-bottom: 0;
}

p {
  font-size: 1dvw;
  width: 90%
}

.parrafos {
  color: hsl(204, 43%, 93%);
  display: flex;
}

.parrafo-izquierdo {
  background-color: hsl(179, 62%, 43%);
  width: 100%;
  padding-left: 2dvw;
  border-bottom-left-radius: .375rem;
}

h2 {
  color: hsl(204, 43%, 93%);
  font-size: 1.2dvw;
  margin: 2dvw 0 1dvw;
}

h3 {
  font-size: 2dvw;
  display: flex;
  align-items: center;
  margin-top: -0.4dvh;
}

span {
  color: hsl(179, 65%, 75%);
  font-size: 2.4dvh;
  padding-left: 0.8dvw;
  font-weight: lighter;
}

.espaciado {
  font-size: 1.09dvw;
  margin-top: -3dvh;
}

button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  padding: 1dvw 0;
  color: hsl(204, 43%, 93%);
  width: 90%;
  margin: 0dvh 0dvw 3.3dvh;
  border-radius: .375rem;
  box-shadow: 0dvw 0.5dvh 2dvw 0.1dvw hsla(0, 0%, 0%, 0.202);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  font-size: 2.9dvh;
}

.parrafo-derecho {
  background-color: hsl(179, 49%, 65%);
  width: 100%;
  border-bottom-right-radius: .375rem;
  padding-left: 2dvw;
  color: hsl(180, 100%, 89%)
}

/* ------------------------------ 375px------------------ */

@media(max-width:375px) {
  .cuadro {
    width: 80dvw;
    line-height: 1.4rem;
  }

  .presentacion {
    width: 100%;
    padding: 0.1dvh 0dvh 3dvh 0dvh;
  }

  h1 {
    font-size: 2.1dvh;
    margin: 2.5dvh 3dvh 2.5dvh;
  }

  .parrafo-verde {
    font-weight: 700;
    font-size: 1.5dvh;
    margin-bottom: 2.2dvh;
    line-height: normal;
  }

  p {
    width: 80%;
    font-size: 1.4dvh;
    margin: 0 3dvh;
  }

  .parrafos {
    display: flex;
    flex-direction: column;
  }

  .parrafo-izquierdo {
    width: 100%;
    padding-left: 0dvh;
    border-bottom-left-radius: 0;
  }

  h2 {
    font-size: 1.8dvh;
    margin: 2dvh 3dvh 2.6dvh;
  }

  h3 {
    font-size: 3dvh;
    display: flex;
    align-items: center;
    margin-top: 0dvh;
    margin-left: 3dvh;
  }

  span {
    font-size: 1.6dvh;
    padding-left: 1dvh;
  }

  .espaciado {
    font-size: 1.5dvh;
    margin-top: -2dvh;
    margin-bottom: 0dvh;
  }

  button {
    padding: 1em 0;
    width: 80%;
    font-size: 1.6dvh;
    margin: 2.4dvh 7dvw;
  }


  .parrafo-derecho {
    background-color: hsl(179, 51%, 53%);
    width: 100%;
    border-bottom-right-radius: .375rem;
    border-bottom-left-radius: .375rem;
    padding-top: 1dvh;
    padding-left: 0dvw;
    padding-bottom: 2dvh;
    line-height: 1.1rem;
  }

  .elementos {
    margin-top: -1.4dvh;
    color:
  }

  .attribution {
    margin: 0;
    width: 80dvw;
    top: 96%;
    transform: translate(-50%, 0%);
  }
}